@font-face {
	font-family: "Monocraft Nerd Font";
	src: url("/assets/fonts/MonocraftNerdFontComplete.ttf") format("truetype");
	font-display: auto;
}

:root {
  --font-mono: "Monocraft Nerd Font", system-ui, Helvetica, Arial, sans-serif;
  --font-body: "Monocraft Nerd Font", system-ui, Helvetica, Arial, sans-serif;

  --line-height: 1.5;

  /* --bg: #fff9fc; */
  --text-color: #32325a;
  --text-secondary-color: #68757b;

  --dark-bg: #212127;
  --dark-text-color: #b5bdd9;

  --primary: #e41867;
  --primary-shadow: hsla(337, 81%, 49%, 0.12);

  --blockquote-color: #73728c;

  --separator-color: #d0d6d8;
  --focus-color: #ffa611;

  --standout-bg: #ececf8;
  --standout-shadow: 0 2px 2px #d7d6ea, 0 0 0 1px #dfdee6;

  --code-bg: #1e1e3f;
  --inline-code-bg: #ece4e9;

  --visited-link-color: #0c9c38;
}

:root[data-theme="dark"] {
  --bg: #212127;

  --text-color: #b5bdd9;
  --text-secondary-color: #8996c2;
  --blockquote-color: #bababd;

  --separator-color: #545353;

  --standout-bg: #484848;
  --standout-shadow: 0 2px 2px #292828, 0 0 0 1px #292828;

  --code-bg: #484848;
  --inline-code-bg: #484848;
}

html {
	--content-width: 40%;
}
