<header class="Header Flex Flex--alignCenter Flex--justifyBetween">
   <h1 class="Text--xl">
      <a href="/">
         {{ site.title }}
      </a>
   </h1>
   <div class="Flex Flex--alignCenter">
			<details style="max-width: 7.5em; margin-right: 1em">
				<summary>Width:<output id="content-width-output">40%</output></summary>
				<input style="width: 7.5em" type="range" id="content-width" name="content-width" min="10", max="100" step="5" value="40"/>
			</details>
      <a href="/archive" class="Link Header-Link">archive</a>
      <a href="/feed.xml" target="_blank" class="Link Header-Link">rss</a>
      {# Icon adapted from Gatsby narrative theme #}
      <button class="ThemeButton js-theme-btn" aria-label="Activate dark mode" title="Activate dark mode">
         <div ></div>
         <div ></div>
      </button>
   </div>
</header>
